
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart circle{
  fill: steelblue;
}
.chart rect{
  fill: black;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}
